/* Main styles */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    padding: 0px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 120%;
}

h1 {
    margin: 20px 0px;
    text-align: center;
    font-size: 1.75em;
}

#menu {
    position: relative;
}

article {
    background: grey;
    float: left;
    padding: 15px 15px 30px;
    position: relative;
    border: 1px solid black;
    margin-bottom: 20px;
}

.help {
    position: relative;
    clear: both;
}



article:nth-child(1) .title{
    background: rgb(253, 166, 180);
    color: black;
}

article:nth-child(3) .title{
    background: rgb(246, 221, 107);
    color: black;
}

.title {
    background: rgb(251, 49, 49);
    font-weight: bold;
    font-size: 1.25em;
    color: white;
    position: absolute;
    top: -1px;
    right: -1px;
    width: 180px;
    text-align: center;
    padding: 3px;
    border: 1px solid black;
}

.text {
    position: relative;
    top: 20px;
}


/* Media styles */

@media (min-width: 992px) {
    body {
        padding: 0px 60px;
    }

    #menu {
        margin: 0 -1.11%;
    }

    .col-bg-4 {
        width: 31%;
        margin: 0 1.11% 20px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    body {
        padding: 0px 40px;
    }

    .col-md-6 {
        width: 48%;
        margin: 0 1% 15px;
    }

    .col-md-12 {
        width: 98%;
        margin: 0 1% 15px;
    }
}

@media (max-width: 767px) {
    body {
        padding: 0px 20px;
    }

    .col-sm-12 {
        width: 100%;
    }
}